<div class="container" style="margin-top: 100px;">
    <div class="main-img img" style="background-image: url({{ route.image }});">
        <div onclick="location.href='#';" class="action-label me-3">
            <span class="material-icons">bookmark_border</span>
            <p>Save route</p>
        </div>
        <div onclick="location.href='#';" class="action-label">
            <span class="material-icons">ios_share</span>
            <p>Share route</p>  
        </div>
    </div>
    <div class="mt-5 mb-5">
        <h1 class="d-flex align-items-center">
            <span class="badge bg-dark me-3">4.8 
                <span class="material-icons">grade</span>
            </span> {{ route.title }}
        </h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-9">
            <div class="content-container">
                <h3>Description</h3>
                <p>{{ route.description }}</p>
            </div>
            {{#if route.video}}
            <div class="content-container">
                <h3>Video</h3>
                <iframe width="560" height="315" src={{ route.video }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {{/if}}
        </div>
        <div class="col-3">
            <div class="details-container">
                <div class="detail d-flex p-3">
                    <span class="material-icons me-3">hiking</span>
                    <p><b>Sport: </b>{{ route.sport }}</p>
                </div>
                <hr>
                <div class="detail d-flex p-3">
                    <span class="material-icons me-3">bolt</span>
                    <p><b>Difficulty: </b>{{ route.difficulty }}</p>
                </div>
                <hr>
                <div class="detail d-flex p-3">
                    <span class="material-icons me-3">schedule</span>
                    <p><b>Duration: </b>{{ route.duration }}h</p>
                </div>
                <hr>
                <div class="detail d-flex p-3">
                    <span class="material-icons me-3">room</span>
                    <p><b>Location: </b>{{ route.location }}</p>
                </div>
        </div>
    </div>
    
</div>
