<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="route-header">
        <div class="main-img img d-flex justify-content-end" style="background-image: url({{ route.image }});">
            <div {{checkIfOwner route.user.name currentUser.name}} onclick="location.href='/route/{{ route.id }}/edit';" class="action-label">
                <i class="fas fa-pen"></i>
                <p>Edit route</p>
            </div>
        </div>
        <div class="ps-5 pb-5 pe-5">
            <div class="mt-5 d-flex align-items-center justify-content-between">
                <div>
                    <h1>{{ route.title }}</h1>
                    <div class="d-flex mt-4">
                        <span class="badge {{ route.sport }}-badge me-2">
                            <img class="card-emoji me-2" src="https://res.cloudinary.com/asiertoni/image/upload/v1613999382/{{ route.sport }}-emoji.png"
                                alt="{{ route.sport }} emoji">
                            {{sportKeyToName route.sport }}
                        </span>
                        <span class="badge {{ route.difficulty }}-badge me-2">{{ route.difficulty }}</span>
                        <span class="badge duration-badge me-2"><i class="far fa-clock me-2"></i>{{ route.duration }}h</span>
                        <span class="badge distance-badge me-2"><i class="fas fa-hiking me-2"></i>{{ route.distance }}km</span>
                        <span class="badge elevation-badge me-2"><i class="fas fa-chevron-up me-2"></i>{{ route.elevationGained }}m<i class="fas fa-chevron-down ms-2 me-2"></i>{{ route.elevationLost }}m</span>

                    </div>
                </div>
                <div>
                    {{#if route.ratingsAverage}}
                    <div class="detail-rating-badge me-4">
                        <i class="fas fa-star"></i>
                        <p>{{ route.ratingsAverage }}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="content-container">
                <h3>Description</h3>
                {{{ route.description }}}
            </div>
            {{#if route.video}}
            <div class="content-container">
                <h3>Video</h3>
                <iframe width="100%" height="400" src={{ route.video }} frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            {{/if}}
            <div class="content-container">
                <h3>Starting location</h3>
                <div class="detail-map" id="map" data-location="{{stringifyLocation route.location}}">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="author d-flex align-items-center mb-5">
                <a href="/user/{{ route.user.name }}">
                    <div class="route-author-avatar me-4" style="background-image: url({{ route.user.avatar }});"></div>
                </a>
                <div class="me-5">
                    <h5 class="mb-2">Created by</h5>
                    <h5><a href="/user/{{ route.user.name }}">@{{ route.user.name }}</a></h5>
                </div>
                <a href="/user/{{ route.user.name }}"><i class="fas fa-external-link-alt ms-5 ph-primary"></i></a>
            </div>
            <div class="ratings mb-5">
                <h4>Reviews</h4>
                <div class="d-flex mt-3 align-items-center justify-content-between">
                {{#if route.ratingsAverage}}
                    <div class="d-flex">
                        <h5>{{ route.ratingsQuantity }} reviews</h5>
                        <h5 class="ph-primary"><i class="fas fa-star ms-4 me-1"></i> {{ route.ratingsAverage }}</h5>
                    </div>
                    <a {{#if errors}}style="visibility: hidden;"{{/if}} class="btn bg-ph-primary" id="showForm">Submit a review</a>
                    {{else}}
                    <div class="mt-3">
                        <p class="comment">This route hasn't been reviewed yet. Be the first one to place a review!</p>
                        <a {{#if errors}}style="visibility: hidden;"{{/if}} style="width: 100%;" class="btn bg-ph-primary mt-4" id="showForm">Submit a review</a>
                    </div>
                {{/if}}
                </div>
                <div id="reviewForm" class="review-form {{#if route.ratingsAverage}}mt-4{{/if}} mb-5" {{#if errors}}style="display: block;"{{else}}style="display: none;"{{/if}}>
                    <div id="close" class="d-flex justify-content-end">
                        <i class="fas fa-times"></i>
                    </div>
                    <form class="mt-3" method="POST" action="/route/{{ route.id }}/reviews">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Your rating</h5>
                            <fieldset class="rating" style="width: 100%;">
                                <input type="radio" id="star5" name="rating" value="5" {{setChecked '5' review.rating}}/><label class="full" for="star5"
                                    ></label>
                                <input type="radio" id="star4half" name="rating" value="4.5" {{setChecked '4.5' review.rating}}/><label class="half"
                                    for="star4half" ></label>
                                <input type="radio" id="star4" name="rating" value="4" {{setChecked '4' review.rating}}/><label class="full" for="star4"
                                    ></label>
                                <input type="radio" id="star3half" name="rating" value="3.5" {{setChecked '3.5' review.rating}}/><label class="half"
                                    for="star3half"></label>
                                <input type="radio" id="star3" name="rating" value="3" {{setChecked '3' review.rating}}/><label class="full" for="star3"
                                    ></label>
                                <input type="radio" id="star2half" name="rating" value="2.5" {{setChecked '2.5' review.rating}}/><label class="half"
                                    for="star2half"></label>
                                <input type="radio" id="star2" name="rating" value="2" {{setChecked '2' review.rating}}/><label class="full" for="star2"
                                   ></label>
                                <input type="radio" id="star1half" name="rating" value="1.5" {{setChecked '1.5' review.rating}}/><label class="half"
                                    for="star1half"></label>
                                <input type="radio" id="star1" name="rating" value="1" {{setChecked '1' review.rating}}/><label class="full" for="star1"
                                    ></label>
                                <input type="radio" id="starhalf" name="rating" value="0.5" {{setChecked '0.5' review.rating}}/><label class="half"
                                    for="starhalf"></label>
                            </fieldset>
                        </div>
                        {{#if errors.rating}}
                        <p class="error mt-2">{{ errors.rating }}</p>
                        {{/if}}
                        <div class="description">
                            <div class="form-floating mt-3 mb-3">
                                <textarea name="description" class="form-control {{#if errors.description}}is-invalid{{/if}}"
                                    id="ratingDescription" style="height: 100px">{{ review.description }}</textarea>
                                <label for="ratingDescription">Description</label>
                                {{#if errors.description}}
                                <div class="invalid-feedback">{{errors.description}}</div>
                                {{/if}}
                                {{#if errors.duplicate}}
                                <div class="invalid-feedback">{{errors.duplicate}}</div>
                                {{/if}}
                            </div>

                        </div>
                        <button type="submit" class="btn bg-ph-primary p-3">Send review</button>
                    </form>
                </div>
                <div class="reviews mt-4">
                    {{#each route.reviews as |review|}}
                    <div class="mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center">
                                <div class="review-avatar me-3"
                                    style="background-image: url({{ review.user.avatar }});">
                                </div>
                                <a href="/user/{{ review.user.name }}">
                                    <h6>@{{ review.user.name }}</h6>
                                </a>
                                <h6 class="ph-primary"><i class="fas fa-star ms-4 me-1"></i> {{ review.rating }}
                                </h6>
                            </div>
                            <div {{checkIfOwner review.user.name ../currentUser.name}} class="review-tools d-flex align-items-center">
                                <a href="/review/{{ review.id }}/edit"><i class="fas fa-pen me-3"></i></a>
                                <form method="POST" action="/route/{{ review.route }}/review/{{ review.id }}/delete"
                                    id="deleteReview">
                                    <i onclick="document.getElementById('deleteReview').submit();"
                                        class="fas fa-trash-alt"></i>
                                </form>
                            </div>
                        </div>
                        <p>{{ review.description }}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <script src="/js/routeMap.js"></script>
    <script src="/js/displayReviewsForm.js"></script>