<div class="d-flex justify-content-center">
    <div class="list-container container-fluid ps-5 pe-5 row row-cols-10" style="max-width: 1600px;">
        <div class="col-3">
            <div class="form-container p-4">
                <form id="form" class="mb-1 mt-3 text-center">
                    <div id="geocoder" class="geocoder mb-2">
                        <p class="location-label">Location</p>
                        <input type="hidden" id="location" name="location" value="{{ form.location }}">
                        <input type="hidden" id="locationAddress" name="locationAddress"
                            value="{{ form.locationAddress }}">
                    </div>
                    <div class="col">
                        <div class="form-floating mb-2">
                            <select class="form-select mb-2" id="distanceFromLocation" name="distanceFromLocation">
                                {{#each withinOptions as |withinOption|}}
                                {{objOption ../form.distanceFromLocation withinOption}}
                                {{/each}}
                            </select>
                            <label for="distanceFromLocation">Within</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <div class="form-floating mb-2 col">
                                <select name="sport" class="form-select" id="floatingSelect">
                                    {{#each sportOptions as |sportOption|}}
                                    {{objOption ../form.sport sportOption}}
                                    {{/each}}
                                </select>
                                <label for="floatingSelect">Sport</label>
                            </div>
                        </div>
                        <div class="col-6 ps-1">
                            <div class="form-floating mb-2">
                                <select name="difficulty" class="form-select" id="floatingSelect">
                                    {{#each difficultyOptions as |difficultyOption|}}
                                    {{option ../form.difficulty difficultyOption}}
                                    {{/each}}
                                </select>
                                <label for="floatingSelect">Difficulty</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <div class="form-floating mb-2">
                                <input type="number" min="0" value="{{ form.elevationGained.[0] }}"
                                    name="elevationGained" class="form-control" id="minElevation"></input>
                                <label for="minElevation">Min elevation</label>
                            </div>
                        </div>
                        <div class="col-6 ps-1">
                            <div class="form-floating mb-2">
                                <input type="number" value="{{ form.elevationGained.[1] }}" min="0"
                                    name="elevationGained" class="form-control" id="maxElevation"></input>
                                <label for="maxElevation">Max elevation</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <div class="form-floating mb-2">
                                <input type="number" min="0" value="{{ form.duration.[0] }}" name="duration"
                                    class="form-control" id="minDuration"></input>
                                <label for="minDuration">Min duration</label>
                            </div>
                        </div>
                        <div class="col-6 ps-1">
                            <div class="form-floating mb-2">
                                <input type="number" min="0" value="{{ form.duration.[1] }}" name="duration"
                                    class="form-control" id="maxDuration"></input>
                                <label for="maxDuration">Max duration</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <div class="form-floating mb-2">
                                <input type="number" min="0" value="{{ form.distance.[0] }}" name="distance"
                                    class="form-control" id="minDistance"></input>
                                <label for="minDistance">Min distance</label>
                            </div>
                        </div>
                        <div class="col-6 ps-1">
                            <div class="form-floating mb-2">
                                <input type="number" min="0" value="{{ form.distance.[1] }}" name="distance"
                                    class="form-control" id="maxDistance"></input>
                                <label for="maxDistance">Max distance</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-2">
                        <select name="sort" class="form-select" id="floatingSelect">
                            {{#each sortOptions as |sortOption|}}
                            {{objOption ../form.sort sortOption}}
                            {{/each}}
                        </select>
                        <label for="floatingSelect">Sort by</label>
                    </div>
                    <button type="submit" class="btn bg-ph-primary mb-2" style="height: 58px;"><i
                            class="fas fa-search me-3"></i>Search</button>
                    <a href="/routes"><i class="fas fa-redo me-2"></i>Reset filters</a>
                    <input id="page" type="hidden" name="page">
                </form>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-between">
            <div class="row row-cols-3">
                {{#each routes as |route|}}
                {{> routeList route=route}}
                {{/each}}
            </div>
            <div class="d-flex justify-content-center p-5">
                <nav>
                    <ul class="pagination">
                        <li value="{{ pagination.previous.page }}" id="prev" class="page-item {{#unless pagination.previous}} disabled {{/unless}}">
                            <a class="page-link">Previous</a>
                        </li>
                        <li value="{{ pagination.next.page }}" id="next" class="page-item {{#unless pagination.next}} disabled {{/unless}}">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/geocoder.js"></script>
<script src="/js/pagination.js"></script>