<div class="list-container row">
    <div class="col-4">
        <div class="form-container p-4">
            <form class="mb-1 mt-3 text-center">
                <div class="form-floating mb-2">
                    <input type="text" value="{{ location }}" name="location" class="form-control" id="location"></input>
                    <label for="location">Location</label>
                </div>
                <div class="row">
                    <div class="col-6 pe-1">
                        <div class="form-floating mb-2 col">
                            <select name="sport" class="form-select" id="floatingSelect">
                                {{#each sportOptions as |sportOption|}}
                                {{objOption ../sport sportOption}}
                                {{/each}}
                            </select>
                            <label for="floatingSelect">Sport</label>
                        </div>
                    </div>
                    <div class="col-6 ps-1">
                        <div class="form-floating mb-2">
                            <select name="difficulty" class="form-select" id="floatingSelect">
                                {{#each difficultyOptions as |difficultyOption|}}
                                {{option ../difficulty difficultyOption}}
                                {{/each}}
                            </select>
                            <label for="floatingSelect">Difficulty</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pe-1">
                        <div class="form-floating mb-2">
                            <input type="number" value="" name="minElevation" class="form-control"
                                id="minElevation"></input>
                            <label for="minElevation">Min elev.</label>
                        </div>
                    </div>
                    <div class="col-6 ps-1">
                        <div class="form-floating mb-2">
                            <input type="number" value="" name="maxElevation" class="form-control"
                                id="maxElevation"></input>
                            <label for="maxElevation">Max elev.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pe-1">
                        <div class="form-floating mb-2">
                            <input type="number" value="" name="minDuration" class="form-control"
                                id="minDuration"></input>
                            <label for="minDuration">Min duration</label>
                        </div>
                    </div>
                    <div class="col-6 ps-1">
                        <div class="form-floating mb-2">
                            <input type="number" value="" name="maxDuration" class="form-control"
                                id="maxDuration"></input>
                            <label for="maxDuration">Max duration</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <select class="form-select mb-2" id="floatingSelect" aria-label="Floating label select example">
                        <option value="top-rated">Rating: Top Rated</option>
                        <option value="longest">Duration: Longest</option>
                        <option value="shortest">Duration: Shortest</option>
                        <option value="shortest">Difficulty: Most Difficult</option>
                        <option value="shortest">Difficulty: Easiest</option>
                    </select>
                    <label for="floatingSelect">Order by</label>
                </div>
                <button type="submit" class="btn bg-ph-primary mb-2" style="height: 58px;"><i
                        class="fas fa-search me-3"></i>Search</button>
                <a href=""><i class="fas fa-redo me-2"></i>Reset filters</a>
            </form>
        </div>
    </div>
    <div class="col">
        <div class="row">
            {{#each routes as |route|}}
            <div class="col-6 mb-5">
                <div class="route-card" onclick="location.href='/route/{{ route.id }}';">
                    <div class="route-card-img mb-2 p-2 d-flex justify-content-end" style="background-image: url({{ route.image }});">
                        <div class="route-card-rating">
                            <p><i class="fas fa-star me-1"></i>{{ route.ratingsAverage }}</p>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>{{ route.title }}</h5>
                        <div class="route-card-details mt-3">
                            <div class="d-flex justify-content-left align-items-center">
                                <p class="me-4"><i class="fas fa-chevron-up me-2"></i>2200m</p>
                                <p><i class="fas fa-chevron-down me-2"></i>2200m</p>
                            </div>
                            <div class="d-flex justify-content-left align-items-center">
                                <p class="me-4"><i class="fas fa-hiking me-2"></i>25km</p>
                                <p><i class="far fa-clock me-2"></i>{{ route.duration }}h</p>
                            </div>
                            <p><i class="fas fa-location-arrow me-2 mb-4"></i>{{ route.location }}</p>
                            <span class="badge bg-secondary">{{ route.sport }}</span>
                            <span class="badge bg-secondary">{{ route.difficulty }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>