<div class="container" style="margin-top: 100px;">
    <form method="POST" action="/routes">
        <div class="form-floating col-6 mb-3">
            <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" name="title" value="{{ route.title }}" id="routeTitle">
            <label for="routeTitle">Title</label>
            {{#if errors.title}}
            <div class="invalid-feedback">Please enter a route title.</div>
            {{/if}}
        </div>
        <div class="form-floating col-3 mb-3">
            <select name="sport" class="form-select" id="floatingSelect">
                {{#each sports as |sport|}}
                {{objOption ../route.sport sport}}
                {{/each}}
            </select>
            <label for="floatingSelect">Sport</label>
        </div>
        <div class="form-floating col-2 mb-3">
            <select name="difficulty" class="form-select" id="floatingSelect">
                {{#each difficulties as |difficulty|}}
                {{option ../route.difficulty difficulty}}
                {{/each}}
            </select>
            <label for="floatingSelect">Difficulty</label>
        </div>
        <div id="formMap" class="mb-3" style="width: 100%; height: 300px;" data-location="{{stringifyLocation route.location}}">
            <input type="hidden" id="location" name="location" value="{{ route.location.coordinates }}">
            <input type="hidden" id="locationAddress" name="locationAddress" value="{{ route.locationAddress }}">
        </div>
        {{#if errors.locationAddress}}
        <p class="mb-3" style="color: red;">{{ errors.locationAddress }}</p>
        {{/if}}
        <div class="form-floating col-2 mb-3">
            <input type="number" value="{{ route.duration }}" name="duration" class="form-control {{#if errors.duration}}is-invalid{{/if}}" id="duration"></input>
            <label for="duration">Duration (hours)</label> {{!-- TODO --}}
            {{#if errors.duration}}
            <div class="invalid-feedback">Please enter the route's duration.</div>
            {{/if}}
        </div>
        <div class="form-floating col-2 mb-3">
            <input type="number" value="{{ route.elevationGained }}" name="elevationGained" class="form-control {{#if errors.elevationGained}}is-invalid{{/if}}" id="elevationGained"></input>
            <label for="elevationGained">Elevation gained (m)</label> {{!-- TODO --}}
            {{#if errors.elevationGained}}
            <div class="invalid-feedback">Please enter the route's elevation gained.</div>
            {{/if}}
        </div>
        <div class="form-floating col-2 mb-3">
            <input type="number" value="{{ route.elevationLost }}" name="elevationLost" class="form-control {{#if errors.elevationLost}}is-invalid{{/if}}" id="elevationLost"></input>
            <label for="elevationLost">Elevation lost (m)</label> {{!-- TODO --}}
            {{#if errors.duration}}
            <div class="invalid-feedback">Please enter the route's elevation lost.</div>
            {{/if}}
        </div>
        <div class="form-floating col-2 mb-3">
            <input type="number" value="{{ route.distance }}" name="distance" class="form-control {{#if errors.distance}}is-invalid{{/if}}" id="distance"></input>
            <label for="distance">Distance (km)</label> {{!-- TODO --}}
            {{#if errors.duration}}
            <div class="invalid-feedback">Please enter the route's distance.</div>
            {{/if}}
        </div>
        <div class="form-floating col-6 mb-3">
            <textarea style="height: auto;" name="description" class="form-control {{#if errors.description}}is-invalid{{/if}}"
                id="description">{{ route.description }}</textarea>
            <label for="description">Description</label> {{!-- TODO --}}
            {{#if errors.description}}
            <div class="invalid-feedback">Please enter a description of the route.</div>
            {{/if}}
        </div>
        <div class="form-floating col-6 mb-3">
            <input value="{{ route.video }}" name="video" class="form-control" id="video"></input>
            <label for="video">Video URL</label>
        </div>
        <div class="form-floating col-6 mb-3">
            <input value="{{ route.image }}" name="image" class="form-control" id="image"></input>
            <label for="image">Image URL</label>
        </div>
        <button class="btn btn-dark" type="submit">Post route</button>
    </form>
</div>

 <script src="/js/newRouteMap.js"></script>