<section>
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h1>User Profile</h1>
    </div>
  </div>

  <hr class="mt-0"/>

  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
        <div class="card-footer">
          <small class="text-muted">{{user.name}}</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="card">
        <div class="card-body">
          <form action="/profile" method="POST">
            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" name="name" placeholder="Name"
                value="{{user.name}}">
              {{errors.name}}
            </div>
            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
              </div>
              <input disabled type="text" class="form-control" name="email" value="{{user.email}}">
            </div>

            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" name="password" placeholder="Password">
              {{errors.password}}
            </div>
            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control {{#if errors.passwordMatch}}is-invalid{{/if}}" name="passwordMatch" placeholder="Repeat Password">
              {{errors.passwordMatch}}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-picture-o"></i></span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="avatar-input" name="avatar">
                <label class="custom-file-label" for="avatar-input">Choose file</label>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block mt-1">Update info</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>